.title-busqueda{
    font-size: 35px;
    color: black;
    font-weight: bold;
}

.title-busqueda-blanco{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}

.fondo-rojo{
    background: rgb(215, 42, 46);
    padding: 25px;
}

.fondo-verde{
    background: green;
    padding: 25px;
}

.fondo-amarillo{
    background: rgb(252,204,82);
    padding: 25px;
}

hr{
    height: 3px;
    width:80%;
    background: red;
    border-radius: 2px;
    
}

.hr-amarillo{
    height: 3px;
    width:80%;
    background: rgb(252,204,82);
    border-radius: 2px;
    
}

.respuesta-ok{
    height: 3px;
    width:63%;
    background: green;
    border-radius: 2px;
}

.punto-rojo{
    color:red;
    font-size: 30px;

}

.img-alerta-roja{
    margin-left: 175px;
}

.img-user-rojo{
    margin-left: 0;
    height: 300px;
    width: 350px;
}

.msg-alerta{
    color: #FFF;
    background:rgb(215, 42, 46);
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 10px;
    width: 80%;
    height: 60px;
}

.msg-alerta-amarilla{
    color: #000;
    background:rgb(252,204,82);
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 10px;
    width: 80%;
    height: 60px;
}

.resultado-busqueda-izquierda{
    margin-left: 20px;
}

.resultado-busqueda-derecha{
    margin-left: 0px;
}

.vineta{
    color: red;
}

.jum{    
    background-image: url(../img/fondo-01.jpg);
    padding: 50px;
}

.nombre-columna{
    font-size: 20px;
}

.contenedor-msg{
    background: #FFF;
    padding: 10px;
}

.alerta-blanca{
    height: 200px;
    width: 200px;
}

.caja_semaforo {
	text-align: center;
	padding: 20px 15px;
}

.fondo_gris {
	background-color: #f1f1f1;
}

.boton_alerta {
	width: 85px;
	margin-bottom: 25px;
	margin-top: 10px;
}

.texto_rojo {
	color: #D72A2E;
}
.texto_amarillo {
	color: #FFC43B;
}
.texto_verde {
	color: #1EC66D;
}

.current_text {
	font-size: 1.1rem;
	line-height: 2rem;
}

.texto{
    text-align: center;
    margin-left: 15%;
}
