{% extends 'index.html' %}
{% load static %}
{% block title %} resultados {% endblock %}


{% block contenido %}

<!doctype html>
<html lang="en">
  <body>
      
    <div class="jumbotron jumbotron-fluid fondo-jumbotron">
      <div class="container responsive">
        <h3 class="display-4 title-busqueda">Resultado de Búsqueda</h3>
      </div>
    </div>
    <div class="container-fluid contenedor-superior col-xs-6 col-sm-6 col-md-12">
      <div class="row">
        <div class="col-2">
          <img class="img-alerta-roja" src="{% static 'img/btn-rojo.png' %}">
        </div>
       
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <!--<div class="col-4">
          <img class="img-user-rojo" src="{% static 'img/user-rojo.png' %}">
        </div>-->
        <div class="col-8">
          <div class="container">
            <h2>Resultado Busqueda</h2>
            <p>Antecedentes Personales:</p>            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Rut</th>
                  <th>Nombre</th>
                  <th>Fecha Nacimiento</th>
                  <th>Pais</th>
                  <th>Genero</th>

                </tr>
              </thead>
              <tbody>
                {% for p in persona %}
                <tr>
                  
                  <td>{{ p.gls_rut }}</td>
                  <td>{{ p.gls_nombres }} {{ p.gls_apellido_paterno }}</td>
                  <td>{{ p.fec_fecha_nacimiento }}</td>
                  <td>{{ p.pais_id_pais }}</td>
                  <td>{{ p.sexo_id_sexo }}</td>
                  
                 
                </tr>
                {% endfor %}
                
                
              </tbody>
            </table>
          </div>
        </div>
        
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <img  class="msg-alerta" src="{% static 'img/msg-alerta.png' %}" alt="">
          </div>
        </div>
      </div>

     

    <link rel="stylesheet" href="/static/css/estilos.css">
  </body>
</html>


{% endblock %}
