{% extends 'index.html' %}

{% load static %}

{% block title %} resultadok {% endblock %}



{% block contenido %}


<div class="jumbotron jumbotron-fluid fondo-verde">
  <div class="container">
    <h3 class="display-4 title-busqueda-blanco">Sin Antecededentes</h3>
  </div>
</div>

<div class="jumbotron contenedor-msg">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="img-alerta-verde" src="{% static 'img/boton_verde.png' %}">
      </div>
      <div class="col-8">
        <p class="lead font-weight-bold text-lg-left text-secondary">La persona no ha sido condenada/imputada o no presenta antecedentes judiciales en Órdenes de Detención y/o Medidas Cautelares.</p>
      </div>
    </div>
  </div>
</div>
<hr class="respuesta-ok pt-0">
<div class="container-fluid h-100"> 
  <div class="row w-100 align-items-center">
    <div class="col text-center">
      <a class="btn btn-secondary btn-lg" href="./" role="button">Volver al buscador</a>
    </div>	
  </div>
</div>
<br>


{% endblock %}